[Unit]
Description=Runs Vault server
Documentation=http://www.vaultproject.io
After=network-online.target
Wants=network-online.target

[Service]
User={{vault_user}}
Group={{vault_group}}
ExecStart=/usr/local/bin/vault server -config {{vault_config_path}}/vault.config
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target
