interface={{wifi_server_interface_name}}
driver=nl80211
ssid={{wifi_server_ssid}}
hw_mode={{wifi_hardware_mode}}
channel={{wifi_server_setup_channel}}
country_code={{wifi_country_code}}
wmm_enabled=0
macaddr_acl=0
auth_algs=1
ignore_broadcast_ssid=0
wpa=2
wpa_passphrase={{wifi_server_wpa_passkey}}
wpa_key_mgmt={{wifi_server_wpa_type}}
wpa_pairwise=TKIP
rsn_pairwise=CCMP
ieee80211n=0
local_pwr_constraint=3
ieee80211ac=1
ieee80211n=1
ieee80211h=1
ieee80211d=1
logger_syslog=1
