---
# Deploy gcloud OAuth credentials to remote hosts
#
# Before running, copy your local credentials to the role files directory:
#   cp ~/.config/gcloud/credentials.db roles/role-install-gcloud/files/
#   cp ~/.config/gcloud/access_tokens.db roles/role-install-gcloud/files/
#   cp ~/.config/gcloud/active_config roles/role-install-gcloud/files/
#   cp ~/.config/gcloud/configurations/config_default roles/role-install-gcloud/files/
#
# Usage: 
#   make gcloud-credentials-stage
#   make gcloud-credentials-deploy hostlist=hostname
#   or
#   ansible-playbook -e hostlist=hostname playbooks/gcloud-credentials-deploy.yml

- hosts: "{{ hostlist | default('do_not_match_ever')}}"
  remote_user: "{{ local_ssh_user }}"
  become: true
  tasks:
    - name: Deploy gcloud OAuth credentials
      ansible.builtin.include_role:
        name: role-install-gcloud
        tasks_from: deploy_oauth_credentials.yml
