---
- hosts: "{{ hostlist | default('do_not_match_ever')}}"
  remote_user: "{{ local_ssh_user }}"
  become: true
  name: Install WIFI Server
  pre_tasks:
    - name: "Warm up"
      set_fact:
        provision_wifi_server: True
    - name: DQ Check
      assert:
        that:
          - wifi_server_interface_name is defined
          - wifi_server_dhcp_range is defined
          - wifi_server_ssid is defined
          - wifi_server_wpa_type is defined
          - wifi_server_wpa_passkey is defined
          - wifi_server_setup_channel is defined
        fail_msg: "End of days man"
        # May not need
        container_user: "root"
        container_group: "root"
      tags: key_vars
  tasks:
    - name: Wifi Server Install
      import_role:
        name: wifiServerSetup
