---
- hosts: "{{ hostlist | default('do_not_match_ever')}}"
  remote_user: "{{ local_ssh_user }}"
  become: true
  tasks:
    - name: Install wireguard
      apt:
        name:
          - wireguard
        state: present
        force_apt_get: yes
        cache_valid_time: 84600
      become: yes
      become_user: root

    - name: Quick fix - Enable IP forwarding for eth0 and wg0 if they exist
      shell: |
        if [ -d /proc/sys/net/ipv4/conf/{{ item }} ]; then
          sysctl -w net.ipv4.conf.{{ item }}.forwarding=1
        fi
      loop:
        - eth0
        - wg0
      changed_when: false

