---
- hosts: "{{ hostlist | default('do_not_match_ever')}}"
  remote_user: "{{ local_ssh_user }}"
  become: true
  tasks:
    - name: Install wireguard
      apt:
        name:
          - wireguard
        state: present
        force_apt_get: yes
        cache_valid_time: 84600
      become: yes
      become_user: root

    - name: Enable IP forwarding for eth0 and wg0 when present
      ansible.posix.sysctl:
        name: "net.ipv4.conf.{{ item }}.forwarding"
        value: "1"
        state: present
        reload: yes
      loop:
        - eth0
        - wg0
      when: item in ansible_facts['interfaces']

