---
###############################################################################
################################# INSTALL #####################################
###############################################################################

- block:
  - name: create the tld  paths
    file:
      path: "{{ container_prefix }}/"
      state: directory
      mode: 0755
      owner: "{{container_user}}"
      group: "{{container_group}}"
  - name: create the conf paths
    file:
      path: "{{ container_conf_dir }}"
      state: directory
      mode: 0755
      owner: "{{container_user}}"
      group: "{{container_group}}"
  - name: create runtime / basic data paths
    file:
      path: "{{ container_prefix }}/{{ item }}"
      state: directory
      mode: 0755
      owner: "{{container_user}}"
      group: "{{container_group}}"
    loop:
      - etc
      - data
      - log 
      - run


### Container Management Template - Handle Legacy (pkla) vs New (rules)

- name: Check for legacy polkit directory (pkla)
  stat:
    path: "/etc/polkit-1/localauthority/50-local.d"
  register: polkit_legacy_dir

- name: Check for new polkit directory (rules)
  stat:
    path: "/etc/polkit-1/rules.d"
  register: polkit_new_dir

- name: Add legacy polkit rule (pkla)
  template:
    src: "templates/service-auth.pkla.j2"
    dest: "/etc/polkit-1/localauthority/50-local.d/service-auth.pkla"
    mode: 0644
    owner: root
    group: root
  when: polkit_legacy_dir.stat.exists and polkit_legacy_dir.stat.isdir

- name: Add new polkit rule (rules)
  template:
    src: "templates/service-auth.rules.j2"
    dest: "/etc/polkit-1/rules.d/50-service-auth.rules"
    mode: 0644
    owner: root
    group: root
  when: polkit_new_dir.stat.exists and polkit_new_dir.stat.isdir and (not polkit_legacy_dir.stat.exists or not polkit_legacy_dir.stat.isdir)
